<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="3"><metadata key="name" value="Dice #1 - 14 Prints"/>
    <part id="1" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="11"/></part>
    <part id="2" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="12"/></part>
  </object>
  <object id="6"><metadata key="name" value="Dice #1 - Remainder (71)"/>
    <part id="4" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="21"/></part>
    <part id="5" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="22"/></part>
  </object>
  <object id="9"><metadata key="name" value="Dice #2 - Remainder (2)"/>
    <part id="7" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="31"/></part>
    <part id="8" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="32"/></part>
  </object>
  <object id="12"><metadata key="name" value="Dice #3 - Remainder (8)"/>
    <part id="10" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="41"/></part>
    <part id="11" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="42"/></part>
  </object>
  <object id="15"><metadata key="name" value="Dice #4 - Remainder (9)"/>
    <part id="13" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="51"/></part>
    <part id="14" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="52"/></part>
  </object>
  <object id="18"><metadata key="name" value="Dice #5 - Remainder (10)"/>
    <part id="16" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="61"/></part>
    <part id="17" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="62"/></part>
  </object>
  <object id="21"><metadata key="name" value="Dice #6 - 10 Prints"/>
    <part id="19" subtype="normal_part"><metadata key="name" value="Bodies"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="2"/><metadata key="identify_id" value="71"/></part>
    <part id="20" subtype="normal_part"><metadata key="name" value="Pips"/><metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/><metadata key="extruder" value="1"/><metadata key="identify_id" value="72"/></part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Dice #1 - 14 Prints"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="3"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="10"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="Dice #1 - Remainder (71)"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="20"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="Dice #2 - Remainder (2)"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="30"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="Dice #3 - Remainder (8)"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="40"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="Dice #4 - Remainder (9)"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
    <model_instance>
      <metadata key="object_id" value="15"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="50"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value="Dice #5 - Remainder (10)"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
    <model_instance>
      <metadata key="object_id" value="18"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="60"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="7"/>
    <metadata key="plater_name" value="Dice #6 - 10 Prints"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_7.png"/>
    <metadata key="pick_file" value="Metadata/pick_7.png"/>
    <model_instance>
      <metadata key="object_id" value="21"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="70"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="3" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-779b60881a79" />
   <assemble_item object_id="6" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-2a98ab2f2e37" />
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-f6f0ed14072d" />
   <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-a1b24dbf1dcd" />
   <assemble_item object_id="15" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-61e92c0b64db" />
   <assemble_item object_id="18" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-0c87fe0311d1" />
   <assemble_item object_id="21" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" p:UUID="00000000-0000-4000-8000-f74692877be0" />
  </assemble>
</config>