<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="8">
    <metadata key="name" value="6"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1552" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="1"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="3" subtype="normal_part">
      <metadata key="name" value="2"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-195"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="3"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="7"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="6" subtype="normal_part">
      <metadata key="name" value="8"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="7"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-195"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="9"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="8"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="17">
    <metadata key="name" value="2"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1920" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="1"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="9"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="8"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="19">
    <metadata key="name" value="1"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="18" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="5"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="2012" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="5"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-195"/>
      <metadata key="source_offset_y" value="55"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="15">
    <metadata key="name" value="3"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="14" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1828" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="1"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="5"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-195"/>
      <metadata key="source_offset_y" value="55"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="9"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="8"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="11">
    <metadata key="name" value="5"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="9" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1644" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="1"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="3"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="5"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-195"/>
      <metadata key="source_offset_y" value="55"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="7"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="9"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="8"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="13">
    <metadata key="name" value="4"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="2104"/>
    <part id="12" subtype="normal_part">
      <metadata key="name" value="Merged Parts"/>
      <metadata key="matrix" value="1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="0"/>
      <metadata key="source_offset_y" value="0"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="1736" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="1"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="3"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 -5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="52.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="7"/>
      <metadata key="matrix" value="1 0 0 5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-192.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="9"/>
      <metadata key="matrix" value="1 0 0 -5 0 1 0 5 0 0 1 1.6000003817348634 0 0 0 1"/>
      <metadata key="source_file" value="Dado Falso - Tope.3mf"/>
      <metadata key="source_object_id" value="8"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-197.5"/>
      <metadata key="source_offset_y" value="57.5"/>
      <metadata key="source_offset_z" value="9.8000001907348633"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="92" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Dice #1"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="19"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="587"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="Dice #2"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="17"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="547"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="Dice #3"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="15"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="495"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="Dice #4"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
    <model_instance>
      <metadata key="object_id" value="13"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="431"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="Dice #5"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
    <model_instance>
      <metadata key="object_id" value="11"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="355"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value="Dice #6"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_6.png"/>
    <metadata key="top_file" value="Metadata/top_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
    <model_instance>
      <metadata key="object_id" value="8"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="314"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="8" instance_id="0" transform="1 0 0 0 1 0 0 0 1 79 79 1" offset="0 0 0" />
   <assemble_item object_id="17" instance_id="0" transform="1 0 0 0 1 0 0 0 1 101 90 1" offset="0 0 0" />
   <assemble_item object_id="19" instance_id="0" transform="1 0 0 0 1 0 0 0 1 0 0 1" offset="0 0 0" />
   <assemble_item object_id="15" instance_id="0" transform="1 0 0 0 1 0 0 0 1 79 90 1" offset="0 0 0" />
   <assemble_item object_id="11" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 79 1" offset="0 0 0" />
   <assemble_item object_id="13" instance_id="0" transform="1 0 0 0 1 0 0 0 1 90 101 1" offset="0 0 0" />
  </assemble>
</config>
