<?xml version="1.0" encoding="UTF-8"?>
<config>
  <object id="3">
    <metadata key="name" value="Dice #1 - 14 Prints"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="210400"/>
    <part id="1" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.2000007629394531 0 1 0 -5.2000007629394531 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.2000007629394531"/>
      <metadata key="source_offset_y" value="-5.2000007629394531"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="201200" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="2" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.2000007629394531 0 1 0 -5.2000007629394531 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="0"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.2000007629394531"/>
      <metadata key="source_offset_y" value="-5.2000007629394531"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="9200" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="6">
    <metadata key="name" value="Dice #4 - Remainder (9)"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="18936"/>
    <part id="4" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.2000002861022949 0 1 0 -5.2000002861022949 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.2000002861022949"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="15624" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="5" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.2000002861022949 0 1 0 -5.2000002861022949 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="4"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.2000002861022949"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="3312" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="18">
    <metadata key="name" value="Dice #5 - Remainder (10)"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="21040"/>
    <part id="16" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.1999998092651367 0 1 0 -5.2000002861022949 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="5"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.1999998092651367"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="16440" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="17" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.1999998092651367 0 1 0 -5.2000002861022949 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="5"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.1999998092651367"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="4600" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="21">
    <metadata key="name" value="Dice #6 - 10 Prints"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="210400"/>
    <part id="19" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.2000007629394531 0 1 0 -5.2000007629394531 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.2000007629394531"/>
      <metadata key="source_offset_y" value="-5.2000007629394531"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="155200" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="20" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.2000007629394531 0 1 0 -5.2000007629394531 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="6"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.2000007629394531"/>
      <metadata key="source_offset_y" value="-5.2000007629394531"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="55200" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="9">
    <metadata key="name" value="Dice #1 - Remainder (71)"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="149384"/>
    <part id="7" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.1999988555908203 0 1 0 -5.1999988555908203 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.1999988555908203"/>
      <metadata key="source_offset_y" value="-5.1999988555908203"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="142852" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="8" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.1999988555908203 0 1 0 -5.1999988555908203 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="1"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.1999988555908203"/>
      <metadata key="source_offset_y" value="-5.1999988555908203"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="6532" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="12">
    <metadata key="name" value="Dice #2 - Remainder (2)"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="4208"/>
    <part id="10" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.1999998092651367 0 1 0 -5.1999999061226845 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.1999998092651367"/>
      <metadata key="source_offset_y" value="-5.1999999061226845"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="3840" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="11" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.1999998092651367 0 1 0 -5.1999999284744263 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="2"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.1999998092651367"/>
      <metadata key="source_offset_y" value="-5.1999999284744263"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="368" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <object id="15">
    <metadata key="name" value="Dice #3 - Remainder (8)"/>
    <metadata key="extruder" value="1"/>
    <metadata face_count="16832"/>
    <part id="13" subtype="normal_part">
      <metadata key="name" value="Bodies"/>
      <metadata key="matrix" value="1 0 0 -5.2000002861022949 0 1 0 -5.2000002861022949 0 0 1 0 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="0"/>
      <metadata key="source_offset_x" value="-5.2000002861022949"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0"/>
      <metadata key="extruder" value="2"/>
      <mesh_stat face_count="14624" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
    <part id="14" subtype="normal_part">
      <metadata key="name" value="Pips"/>
      <metadata key="matrix" value="1 0 0 -5.2000002861022949 0 1 0 -5.2000002861022949 0 0 1 0.80000001192092896 0 0 0 1"/>
      <metadata key="source_file" value="dice-art-multi-plate-grouped-10mm.3mf"/>
      <metadata key="source_object_id" value="3"/>
      <metadata key="source_volume_id" value="1"/>
      <metadata key="source_offset_x" value="-5.2000002861022949"/>
      <metadata key="source_offset_y" value="-5.2000002861022949"/>
      <metadata key="source_offset_z" value="0.80000001192092896"/>
      <metadata key="extruder" value="1"/>
      <mesh_stat face_count="2208" edges_fixed="0" degenerate_facets="0" facets_removed="0" facets_reversed="0" backwards_edges="0"/>
    </part>
  </object>
  <plate>
    <metadata key="plater_id" value="1"/>
    <metadata key="plater_name" value="Dice #3 - Remaining"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_1.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_1.png"/>
    <metadata key="top_file" value="Metadata/top_1.png"/>
    <metadata key="pick_file" value="Metadata/pick_1.png"/>
    <model_instance>
      <metadata key="object_id" value="15"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="295"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="2"/>
    <metadata key="plater_name" value="Dice #4 - Remaining"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_2.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_2.png"/>
    <metadata key="top_file" value="Metadata/top_2.png"/>
    <metadata key="pick_file" value="Metadata/pick_2.png"/>
    <model_instance>
      <metadata key="object_id" value="6"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="329"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="3"/>
    <metadata key="plater_name" value="Dice #6 - Print 7"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_3.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_3.png"/>
    <metadata key="top_file" value="Metadata/top_3.png"/>
    <metadata key="pick_file" value="Metadata/pick_3.png"/>
    <model_instance>
      <metadata key="object_id" value="21"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="397"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="4"/>
    <metadata key="plater_name" value="Dice #1 - Print 3"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_4.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_4.png"/>
    <metadata key="top_file" value="Metadata/top_4.png"/>
    <metadata key="pick_file" value="Metadata/pick_4.png"/>
    <model_instance>
      <metadata key="object_id" value="3"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="193"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="5"/>
    <metadata key="plater_name" value="Dice #1 - Remaining"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_5.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_5.png"/>
    <metadata key="top_file" value="Metadata/top_5.png"/>
    <metadata key="pick_file" value="Metadata/pick_5.png"/>
    <model_instance>
      <metadata key="object_id" value="9"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="227"/>
    </model_instance>
  </plate>
  <plate>
    <metadata key="plater_id" value="6"/>
    <metadata key="plater_name" value="Dice #2 - Remaining"/>
    <metadata key="locked" value="false"/>
    <metadata key="filament_map_mode" value="Auto For Flush"/>
    <metadata key="thumbnail_file" value="Metadata/plate_6.png"/>
    <metadata key="thumbnail_no_light_file" value="Metadata/plate_no_light_6.png"/>
    <metadata key="top_file" value="Metadata/top_6.png"/>
    <metadata key="pick_file" value="Metadata/pick_6.png"/>
    <model_instance>
      <metadata key="object_id" value="12"/>
      <metadata key="instance_id" value="0"/>
      <metadata key="identify_id" value="261"/>
    </model_instance>
  </plate>
  <assemble>
   <assemble_item object_id="3" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="6" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="18" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="21" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="9" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="12" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
   <assemble_item object_id="15" instance_id="0" transform="1 0 0 0 1 0 0 0 1 125 125 0" offset="0 0 0" />
  </assemble>
</config>
